.container {
	padding: 20px 0;
	width: 95%;
}

.container-fluid {
	padding: 0 !important;
}

.dt-buttons {
	margin: 0 12px;
}

.dataTables_filter label {
   float:right
}

.pagination {
   margin-top:0;
   float:right;
}

/* Login page */
.login {
  background-color: #364150;
}

.login .wrapper {
  width: 400px;
  height: 500px;
  margin: -200px -200px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.login .wrapper h1 > a.logo {
  color: #fff;
  display: block;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  padding: 2px 0;
  text-decoration: none;
}

.login .wrapper h1 > a.logo .color {
  color: #28C0B8;
}

.login .wrapper h1 > a img {
  margin-right: 20px;
  margin-top: -8px;
}

.login .wrapper .login-body {
  margin-top: 20px;
  padding-bottom: 32px;
  background: #fff;
}

.login .wrapper .login-body form {
  padding: 0 30px;
}

.login .wrapper .login-body h2 {
  font-weight: 300;
  color: #333;
  font-size: 24px;
  padding: 30px 30px 15px 30px;
}

.login .wrapper .login-body .email input, .login .wrapper .login-body .pw input {
  padding: 8px 12px;
  height: 35px;
}

.login .wrapper .login-body .submit {
  margin-top: 15px;
  *zoom: 1;
}

.login .wrapper .login-body .submit:after {
  content: "";
  display: table;
  clear: both;
}

.dataTables_length {
	margin-bottom:20px;	
}

.dataTables_length label {
	display: flex;	
	float: left;
}

.dataTables_filter label{
	display: flex;
}

.dataTables_length label .form-control, .dataTables_filter label .form-control {
	max-width: 100px;
	margin: 0 12px;
}